<nav class="header navbar navbar-dark navbar-expand-lg bg-body-tertiary">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/']">Users App</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse justify-content-end"
      id="navbarNavAltMarkup"
    >
      <div class="navbar-nav">
        <a
          class="nav-link active"
          aria-current="page"
          [routerLink]="['/home']"
          routerLinkActive="bg-light rounded text-dark"
          [routerLinkActiveOptions]="{ exact: true }"
          >Home</a
        >
        <a
          class="nav-link"
          [routerLink]="['/users']"
          routerLinkActive="bg-light rounded text-dark"
          [routerLinkActiveOptions]="{ exact: true }"
          href="#"
          >Users</a
        >
        <a
          class="nav-link"
          [routerLink]="['/users/new']"
          routerLinkActive="bg-light rounded text-dark"
          [routerLinkActiveOptions]="{ exact: true }"
          >Login</a
        >
      </div>
    </div>
  </div>
</nav>
