<div class="bg-light p-5">
  <div class="container p-5">
    <a class="btn btn-outline-primary mb-3" [routerLink]="['/users/new']"
      >Add New User</a
    >
    <div class="row">
      <table class="table mt-3">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Password</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <th scope="row">{{ user.id }}</th>
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.password }}</td>
            <td>
              <a
                class="btn btn-warning mx-1"
                [routerLink]="['/users/', user.id]"
                >Edit User</a
              >
              <button class="btn btn-danger mx-1" (click)="removeUser(user.id)">
                delete User
              </button>
              <a
                class="btn btn-success mx-1"
                [routerLink]="['/userDetails', user.id]"
              >
                View User Details
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
